<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 默认构造  -->
	<bean id="userService1" class="com.dong.factory.UserServiceImpl"></bean>

	<!-- 静态工厂 -->
	<bean id="userService2" class="com.dong.factory.BeansFactory"
			factory-method="createUserService"></bean>

	<!-- 实例工厂 -->
	<bean id="beansFactory" class="com.dong.factory.BeansFactory"></bean>
	<bean id="userService3" factory-bean="beansFactory" factory-method="createUserService2"></bean>
</beans>