<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ee19_spring_day3_tx_dong/src/com/dong/TxTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dong.TxTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ee19_spring_day3_tx_dong"/>
</launchConfiguration>
